
.container{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 4rem;
    padding: 0 1rem;
}

.searchForm {
    display: flex;
    width: 40rem;
    height: 4rem;
    justify-content: space-between;
}

.searchForm textarea{
    width: 35rem;
    background: var(--gray-400);
    resize: none;
    height: 3rem;
    padding: 1rem;
    border-radius: 9px;
    border: 1px solid var(--gray-700);
    color: var(--gray-100);
    line-height: 1;
    overflow: hidden;
    margin-top:  calc(0px - 1.5rem - 2px);
    white-space: nowrap;
}

.searchForm button[type=submit] {
    display: grid;
    grid-template-columns: 1fr auto;
    flex-direction: column;
    justify-content: center;
    padding: 0.3rem 0.5rem 0.3rem 0.3rem;
    align-items: center;
    width: 4.5rem;
    height: 3rem;
    border: 0;
    margin-top:  calc(0px - 1.5rem - 2px);
    border-radius: 9px;
    background: var(--blue-dark);
    color: var(--gray-100);
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.4;
    cursor: pointer;
    transition: background-color 0.1s;
}

.searchForm button[type=submit]:not(:disabled):hover {
    background: var(--blue);
    color: var(--gray-400);
}

.searchForm button img {
    height: 0.8rem;
    width: 0.8rem;
}
