article{
    width: 100%;
    justify-content: center;
    display: grid;
    gap: 1.8rem;
}

.headerTasks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.2rem;
    padding: 0 1rem;
}




/* created tasks bellow*/
.createdTasks {
    color: var(--blue);
}

.numberCreatedTasks{
    display: flex;
    width:50%;
    gap: 1rem;
    align-items: center;
    font-weight: bold;
}

.tasksNum{
    width: 2.2rem;
    padding: 0.4rem 0.3rem;
    display: flex;
    line-height: 1;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: var(--gray-400);
    color: var(--gray-200);

}
/* done tasks bellow*/
.doneTasksText {
    color: var(--purple);
}
.numberDoneTasksBox{
    display: flex;
    width:50%;
    gap: 1rem;
    justify-content: right;
    align-items: center;
    font-weight: bold;
}   

.doneTasksNum{
    width: 4rem;
    padding: 0.4rem 0.3rem;
    display: flex;
    line-height: 1;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: var(--gray-400);
    color: var(--gray-200);
}







.tasksContent {
    height: 15rem;
    padding: 4rem;
    margin: 0 1rem;
    display: grid;
    border-radius: 8px;
    border-top: 2px solid var(--gray-500);
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: transparent;
    color: var(--gray-300);
}



.container{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 4rem;
    padding: 0 1rem;
}

.searchForm {
    display: flex;
    width: 40rem;
    height: 4rem;
    justify-content: space-between;
    margin-top:  calc(0px - 1.5rem - 30px);

}

.searchForm textarea{
    width: 35rem;
    background: var(--gray-400);
    resize: none;
    height: 3rem;
    padding: 1rem;
    border-radius: 9px;
    border: 1px solid var(--gray-700);
    color: var(--gray-100);
    line-height: 1;
    overflow: hidden;
    margin-top: calc(0px - 1.5rem - 2px);
    white-space: nowrap;
}

.searchForm button[type=submit] {
    display: grid;
    grid-template-columns: 1fr auto;
    flex-direction: column;
    justify-content: center;
    padding: 0.3rem 0.5rem 0.3rem 0.3rem;
    align-items: center;
    width: 4.5rem;
    height: 3rem;
    border: 0;
    margin-top:  calc(0px - 1.5rem - 2px);
    border-radius: 9px;
    background: var(--blue-dark);
    color: var(--gray-100);
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: pointer;
    transition: background-color 0.1s;
}

.searchForm button[type=submit]:not(:disabled):hover {
    background: var(--blue);
    color: var(--gray-400);
}

.searchForm button img {
    height: 0.8rem;
    width: 0.8rem;
}

.tasksUnitsBox{
    display: flex;
    width: 40rem;
    flex-direction: column;
    margin: 0 1rem;
    gap: 1rem;
    justify-content: space-between;
    min-height: 4rem;
}

@media (max-width: 768px) {
    .tasksUnitsBox {
        padding: 0 6rem;

    }
  }
  

.taskLine{
    width: 100%;
    height: 100%;
    display: flex;
    height: auto;
    justify-content: space-between;
    border: 2px solid var(--gray-400);
    border-radius: 8px;
    background: var(--gray-500);

}

.buttonBox{
    display: flex;
    background: transparent;
    border: 0;
    width: 3rem;
    min-height: 4rem;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.button{
    display: flex;
    height: 1rem;
    width: 1rem;
    border: 0.13rem solid var(--blue);
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.button:hover{
    border: 0.13rem solid var(--blue-dark);
    background: rgb(30, 111, 159, 0.2) ;
}

.buttonMarked{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-100);
    font-size: small;
    height: 1rem;
    width: 1rem;
    border: 0.13rem solid var(--purple-dark);
    background: var(--purple-dark);
    border-radius: 50%;
    cursor: pointer;
}
.buttonMarked:hover{
    background: var(--purple);
    border: 0.13rem solid var(--purple);

}

.buttonMarked img{
    margin: 1px;
    height: 75%;
    width: 70%;
}

.contentTask{
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0.3rem;
    line-height: 1.4;
    height: 100%;
    width: 100%;
}

.deleteTaskBox{
    display: flex;
    border: 0;
    padding: 1rem;
    width: 3rem;
    min-height: 4rem;
    height: 1rem;
    justify-content: center;
    align-items: flex-start;
}
.trashIcon{
    padding: 4px;

}

.trashIcon:hover{
    background: var(--gray-400);
    color: var(--red-500);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    line-height: 0;
}
